html, body {
    height: 100%;
  }
  
  .bg-image {
    background-image: url('static/images/hole.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100%;
  }
  